<!-- Page Content -->
<div class="container">
  <!-- Intro Content -->
  <div class="row">
      <div class="col-md-6">
          <img class="img-responsive" src="http://placehold.it/750x450" alt="">
      </div>
      <div class="col-md-6">
          <h2>Our Mission</h2>
          <p>Our mission is birthed out of Matthew Chapter 25, verse 40; in this we aim to show the love of Christ to our neighbors through the gospel being shared, prayer for the needy, food, and many other expressions of the love of Jesus Christ.</p>
          <p>We as a team, each equally important in our roles, work together as one body with faith that our God will be ministering into the life of each family and individual whom we share with, and that many will be saved into the love and kingdom of Jesus Christ.</p>
          <p>We look forward to the day when our King will say to each of us: "come, you who are blessed of my Father, inherit the kingdom prepared for you from the foundation of the world." and "Truly I say to you, to the extent that you did it to one of these brothers of Mine, even the least of them, you did it to Me."</p>
      </div>
  </div>
  <!-- /.row -->
</div>