<h2> Why Donate?</h2>
<p>The storehouse food pantry in Morehead City, NC serves over 700 families monthly which adds up to over 2000 individuals. This would not be possible without the community partnering with us financially. There are a lot of operation expenses such as utilities costs, transportation costs, and the cost of food we purchase from other Food Banks. Your contribution makes a huge impact for those in need in our community. Thank you so much for all of you that are currently partnering with us financially. Without you none of this would be possible.</p>

<hr>

<h2>How to Make a Monetary Donation</h2>
<p><b>To send a check</b> make it out to 'East Coast Church', put 'Storehouse' in the Memo, and send your check to: </p>
<p>
East Coast Church<br>
6923 Newport River Shoppes Suite D<br>
Hwy 70 East Newport, NC. 28570  
</p>
<!-- <h4>Hand Deliver a Check or Cash</h4>
 --><p><b>To hand deliver a check or cash</b> directly you can bring it directly to the storehouse. Call 252 725 5539 to set up a time to bring it by the Storehouse Food Pantry at the address below:
 </p>
 <p>
 3114 Bridges St<br>
 Morehead City, NC 28557
</p>

<hr>

<h2>How to Make a Food Donation</h2>
<p>
To make a Food Donation, call 252-725-5539 to set up a time to bring food by the Storehouse Food Pantry at the address below:
</p>
<p>
 3114 Bridges St<br>
 Morehead City, NC 28557
</p>
<hr>
<p>
To learn how you can help in other ways go to our <%= link_to 'volunteer', volunteer_path %> page.</p>
