<div class="row content" style="margin-top:15px">
	
	<div class="col-md-8 vertical-right">
		
		<div class="col-md-6">
			<h2> Why Donate?</h2>
		<p>The Storehouse Food Pantry in Morehead City, NC serves over 700 families, which is over 2000 individuals, every month. This would not be possible without the community partnering with us with food and monetary donations. There are a lot of operation expenses such as utilities, transportation cost, as well as the cost of food we purchase from other Food Banks. Without your food and monetary donations, we wouldn't be able to serve the people in our community.
		</p>
		</div>
		<div class="col-md-6">
			<%= image_tag('https://s3.amazonaws.com/storehouse-images/happy+family.png', height:'225', class: 'family img-responsive') %>
		</div>
		<div class="clearfix"></div>


		<hr>

		<div class="row">
			<div class="col-md-6">

			<h2><i class="fa fa-cutlery"></i> Food Donations</h2>
			<p>
			To make a Food Donation, call 252-725-5539 to set up a time to bring food by the Storehouse Food Pantry at the address below:
			</p>
			<p>
			 3114 Bridges St<br>
			 Morehead City, NC 28557
			</p>

			</div>
			<div class="col-md-6 text-center">
				<%= image_tag('https://s3.amazonaws.com/storehouse-images/food-box.png', width:'250', class: 'text-center') %>
			</div>
		</div>

		<hr>

		<div class="row">
			<div class="col-md-12">

				<h2><i class="fa fa-money"></i> Monetary Donations</h2>
				<p><b>To send a check,</b> make it out to 'East Coast Church', put 'Storehouse' in the Memo, and send your check to: </p>
				<p>
				East Coast Church<br>
				6923 Newport River Shoppes Suite D<br>
				Hwy 70 East Newport, NC. 28570  
				</p>
				<!-- <h4>Hand Deliver a Check or Cash</h4>
				 --><p><b>To hand deliver a check or cash</b> call 252-725-5539 to set up a time to bring it by the Storehouse Food Pantry at the address below:
				 </p>
				 <p>
				 3114 Bridges St<br>
				 Morehead City, NC 28557
				</p>

				<hr>
			<p>
			Check out our <%= link_to 'volunteer', volunteer_path %> page to learn how you can serve in other ways. </p>

				</div>
		</div>

	</div>

	<div class="col-md-4">
			<hr class="mobile">
			<h2><i class="fa fa-book"></i> The Bible on Giving</h2>
			<hr>
			<p><i>"Every man shall give as he is able, according to the blessing of the LORD your God which He has given you." <span class="pull-right">Deuteronomy 16:17</span></i></p>
			<hr>
			<p><i>"Do not withhold good from those to whom it is due, when it is in your power to do it."<span class="pull-right">Psalms 3:27</span></i></p>
			<hr>
			<p><i>And he would answer and say to them, “The man who has two tunics is to share with him who has none; and he who has food is to do likewise.” <span class="pull-right">Luke 3:11</span></i></p>
			<hr class="bible-last-line">
	</div>
</div>



