<h2>Make a Monetary Donation</h2>
<p>The storehouse food pantry in Morehead City, NC serves over 700 families monthly which adds up to over 2000 individuals. This would not be possible without the community partnering with us financially. There are a lot of operation expenses such as facilities costs, transportation costs, and of course the food we purchase from other Food Banks. Your contribution makes a large impact for those in need in our community. Thank you for all that are currently partnering with us financially. Without you none of this would be possible.</p>
<p>If you want to donate to Storehouse Food pantry, make a check out to East Coast Church, and put Storehouse in the Memo. It's very important that you put Storehouse in the Memo or the money will go to the Church and not the Storehouse.
</p>
