<div class="row content" style="margin-top:15px">
	
	<div class="col-md-8 vertical-right">
		<div class="row">
			<div class="col-md-8">
				<h2> Who can get food?</h2>
			<p>If you have any need for food, come to The Storehouse Food pantry and we'll do the best we can to help you get what your family needs. For all of us, there are times in our lives when we need a helping hand. God has called his people to rally together to help provide for those that are in need. If we are unable to assist you can refer you to the proper agency that will be able to help.
			</p>
			</div>
			<div class="col-md-4">
				<%= image_tag('https://s3.amazonaws.com/storehouse-images/bag-food.png', width:'120', class: 'family-eating img-responsive center') %>
			</div>
		</div>

<hr>
		<div class="row">					
			<div class="col-md-6">
				<h2><i class="fa fa-clock-o"></i> When to get food?</h2>
				<p>Families or individuals are able to get food assistance once a month. The Storehouse Food Pantry is open two times a week on the following days:</p>
				<p>
				Tues: 11am - 2pm<br>
				Thur: 11am - 2pm
				<p>If those times do not work for you, <%= link_to 'contact us', contacts_path %>, and we''ll see how we can help.</p>
			
			</div>
			<div class="col-md-6">
				<h2><i class="fa fa-map-marker"></i> Where to get food?</h2>
				<p>You can get food at The Storehouse Food Pantry facilitiy at the times mentioned on the left, at the address below:
				 </p>
				 <p>
				 3114 Bridges St<br>
				 Morehead City, NC 28557
				 <p>If you need <%= link_to 'directions', contacts_path %> or are unsure how to get here, <%= link_to 'contact us', contacts_path %> for further details.</p>
				</p>
			</div>
		</div>


	</div>

	<div class="col-md-4">
			<h2>The Bible on Sharing</h2>

			<hr>
 <p><i>"And they were selling their possessions and belongings and distributing the proceeds to all, as any had need." <span class="pull-right">Acts 2:45</span></i></p>
			<hr>
			<p><i>"Do not neglect to do good and to share what you have, for such sacrifices are pleasing to God."<span class="pull-right">Hebrews 13:16</span></i></p>
			<hr>
			<p><i>"For I was hungry and you gave me food, I was thirsty and you gave me drink, I was a stranger and you welcomed me.” <span class="pull-right">Matthew 25:35-36</span></i></p>
			<hr>
	</div>
</div>



