
  <div id="home-banner" class="container home sides">

    <h1 class="text-center" style="margin-top:250px;">
        <b>Storehouse Food Pantry</b>
        <p style="font-size: 17px; font-weight:300; margin-top:5px;">Serving Carteret County and Surrounding Areas</p>
    </h1>

  </div>



    <!-- Page Content -->
    <div class="container home sides">



        <!-- Marketing Icons Section -->
        <div class="row content" style="margin-top:60px;">

            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h2><i class="fa fa-cutlery"></i>Get Food</h2>
                    </div>
                    <div class="panel-body">
                        <p>If you or your family is in need of food, come by to the Storehouse Food Pantry. We welcome all those who are in need and will do our best to help!</p>
                        <div class="text-center">
                        <%= link_to 'Learn More', getfood_path, class: "btn btn-primary btn-lg" %>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h2><i class="fa fa-money"></i> Donate</h2>
                    </div>
                    <div class="panel-body">
                        <p>Our ministry is driven by the generous support from churches, individuals, and local grocery stores. We're thankful for all the donors that fuel this ministry. We are <b><u>501(c) 3</u></b>.</p>
                        <div class="text-center">
                        <%= link_to 'Learn More', donate_path, class: "btn btn-primary btn-lg" %>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h2><i class="fa fa-clock-o"></i> Volunteer</h2>
                    </div>
                    <div class="panel-body">
                        <p>As the Storehouse Food Pantry is serving more families every week, our need for volunteers is also growing. Click below to find out how you can volunteer with us! </p>
                        <div class="text-center">
                        <%= link_to 'Learn More', volunteer_path, class: "btn btn-primary btn-lg" %>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <%= render 'layouts/footer'%>


    </div>
    <!-- /.container -->

    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

    <!-- Script to Activate the Carousel -->
   <script type='text/javascript'>
    $(document).ready(function() {
         $('.carousel').carousel({
             interval: 10000
         })
    });
</script>
