<div class="row content" style="margin-top:15px">

  <div class="col-md-8 vertical-right">
    <div class="row">
      <div class="col-md-7">
        <h2> Volunteer with Us!</h2>
      <p>Feeding over 700 families monthly is not an easy task and can only be accomplished by a commited group of people who want to server their community. Without the help from our volunteers the food would never make it to the food pantry, it would not be sorted and packed, and there would be no one to hand it out during distribution days. As our ministry is growing monthly, we are always looking for volunteers. Read on to learn about the different ways you can volunteer with us.
      </p>
      </div>
      <div class="col-md-5">
        <%= image_tag('https://s3.amazonaws.com/storehouse-images/volunteers2.jpg', width:'235', class: 'img-volunteer img-responsive center') %>
      </div>
    </div>

    <div class="row">
    <hr>

      <div class="col-md-6">
        <h2><i class="fa fa-truck"></i> Food Pick-ups</h2>
        <p>The Storehouse Food Pantry receives food from several groceries stores in the community as well as other Food Bank pantries. We need food pickup volunteers alomst everyday of the week. If you have a vehicle, and a desire to serve your community <%= link_to 'contact us', contacts_path %> for more information.</p>

      </div>
      <hr class="mobile">
      <div class="col-md-6">
        <h2><i class="fa fa-cutlery"></i> Food Prep</h2>
        <p>Once we receive food donations it must be sorted, packaged, and stocked in preparation for our food distribution days. This is part of our daily operations and can never get too much help in this area. We have volunteering opportunities for this Mon - Sat depending on staff availabilty. <%= link_to 'Contact us', contacts_path %> for more information.
         </p>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-md-6">
        <h2><i class="fa fa-shopping-cart"></i> Food Distribution</h2>
        <p>Every Tuesday and Thursday we distribute food from 11am - 2pm. Typically we have around 100 people come by to get food during that three hour window. If you enjoy interacting with people and making a difference on the front lines, volunteering for Food Distribution is right up your alley! <%= link_to 'Contact us', contacts_path %> for more information.</p>
      </div>
    </div>


  </div>

  <div class="col-md-4">
    <hr class="mobile">
      <h2><i class="fa fa-book"></i> Bible on Serving</h2>

      <hr>
 <p><i><!-- <i class="fa fa-quote-left"></i> --> "Whoever is kind to the poor lends to the LORD, and he will reward them for what they have done."<!--  <i class="fa fa-quote-right"> --></i><span class="pull-right">Proverbs 19:17</span></i></p>
      <hr>
      <p><!-- <i class="fa fa-quote-left"></i><i> -->"Each of you should use whatever gift you have received to serve others, as faithful stewards of God’s grace in its various forms."<span class="pull-right">1  Peter 4:10</span></i></p>
      <hr>
      <p><i>"Whatever you do, work at it with all your heart, as working for the Lord, not for human masters... It is the Lord Christ you are serving.” <span class="pull-right">Colossians 3:23-24</span></i></p>
      <hr class="bible-last-line">
  </div>
</div>
