<div class="row"> 
        <div class="col-md-8">
          <h1 class="page-header"><%="#{@page_name}"%>
              <small></small>
          <!-- </h1> -->
          <ol class="breadcrumb">
              <li><%= link_to "Home", root_path %>
              </li>
              <li class="active"><%="#{@page_name}"%></li>
          </ol>
      </div>
    </div>